<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Formulario de Contacto</title>
</head>
<body>

<h1><strong>Formulario de Contacto:</strong></h1>
<form id="form1" name="form1" method="post" action="">
  <p><strong>Asunto</strong>:
<input type="text" name="txt_asunto" id="textfield" />
  </p>
  <p><strong>Email:</strong>
<input type="text" name="txt_email" id="textfield2" />
  </p>
  <p>
    <label for="textarea"></label>
    <textarea name="txt_message" id="textarea" cols="45" rows="15"></textarea>
  </p>
  <p>
    <input type="submit" name="button" id="button" value="Enviar" />
  </p>
</form>
</body>
</html>