<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Formulario de Contacto</title>
</head>

<body>

<h1>Contactanos </h1>

{% if form.errors %}
	<p style="color:#900"> Campo Obligatorio </p>
{% endif %}

<form action="" method="post">
	<table>
    	{{form.as_table}}
    
    </table>
    
<input type="submit" name="button" id="button" value="Enviar" />    
</body>
</html>
