<!DOCTYPE html>
<html lang="en">
<body>

<style>

    #barra{
        margin: 0;
        padding: 0;
        list-style: none;
        text-transform: uppercase;
        text-align:center;
        font:Geneva, Arial, Helvetica, sans-serif;
        font-style:italic;
        background-color:#00CCCC;
    }

    #barra li{
        display: inline;
        margin: 20px;


    }


</style>

<ul id="barra">
    <li><a href="../CursoCss/">Home </a></li>
    <li>Serivicios </li>
    <li>Quienes Somos</li>
    <li>Acerca de </li>
</ul>
</body>
</html>